:root {
    --main-colour: #23538a;
    --light-colour: #a7cfdf;
    --main-red: #FC0a12;
    --main-green: #1dc38e;
    --main-text: #F2FF00;


}

body {
    font-family: 'Lato', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-text);
    padding: 0px;
    margin: 0px;
}

.hero {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 50% 25%;

}

header {
    width: 100vw;
    position: fixed;
    height: 40px;

    box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.5), -2px -2px 15px rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-areas: "author grid";
    color: white;
    justify-items: center;
    align-items: center;

}

#box1 {
    background: #a7cfdf;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a7cfdf 0%, #23538a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a7cfdf 0%, #23538a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a7cfdf 0%, #23538a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#box2 {
    background: #a6dda8;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a6dda8 0%, #248c35 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a6dda8 0%, #248c35 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a6dda8 0%, #248c35 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6dda8', endColorstr='#248c35', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#box3 {
    background: #a4acd8;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a4acd8 0%, #7c2796 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a4acd8 0%, #7c2796 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a4acd8 0%, #7c2796 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4acd8', endColorstr='#7c2796', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#box1 {
    background: #a7cfdf;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a7cfdf 0%, #23538a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a7cfdf 0%, #23538a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a7cfdf 0%, #23538a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}


header,
.medium-box,
.hero {
    background: var(--light-colour);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, var(--light-colour) 0%, var(--main-colour) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, var(--light-colour) 0%, var(--main-colour) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--light-colour) 0%, var(--main-colour) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--light-colour)', endColorstr='var(--main-colour)', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.small {
    /* display: grid;
    grid-template-areas: 'title' 'image'; */
    text-align: center;
    /* transition: 0.1s; */
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    z-index: 500;
    box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 3px 3px 20px rgba(255, 255, 255, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.small h3 {
    grid-area: title;
    font-size: 11px;
    padding: 10px 0px 10px 0px;
    ;
}

.large h3 {
    grid-area: title;
    padding: 10px;
}

.small img {
    grid-area: image;
    height: 60%;
    max-width: 90%;
}

.large img {
    grid-area: image;
    height: 80%;
    visibility: hidden;
}

.small .text-panel {
    visibility: hidden;
}

.text-panel {
    grid-area: text;
    padding: 20px 20px 70px 20px;
}


.small:hover {
    bottom: 13px;
    box-shadow: inset -5px -5px 20px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.large {
    display: grid;
    grid-template-columns: 45% 45% 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 'image title .''text text .';
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 85vw;
    width: calc(100vw - 30px);
    height: 85vh;
    height: calc(100vh - 70px);
    border-radius: 30px 0% 0% 0% / 30px 0% 0% 0%;
    grid-row: 2 / 5;
    grid-column: 2 / 4;
    transform-origin: 50% 50%;
    transition: 0.5s;
    /* transition: height 0.5s, width 0.5s, max-height 0.5s, max-width 0.5s, border-radius 0.5s, bottom 0.1s,  right 0.4s; */
    transition-timing-function: ease-out;
    box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.5), -2px -2px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.medium-box {
    left: 15px;
    top: 55px;
    display: grid;
    position: fixed;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    z-index: 500;
    box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 3px 3px 20px rgba(255, 255, 255, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--main-colour);
}

hidden {
    left: -200px;
}

#medium1-show {
    
}

.medium-box img {
    place-self: center;
    max-height: 90%;
    max-width: 90%;
}


/* medium and up */

@media only screen and (min-width: 600px) {
    .small {
        transform: translatey(50%);
        right: 15px;
        max-width: calc(25vh - 45px);
        max-height: calc(25vh - 45px);
    }

    .medium-box {
        max-width: 30vh;
        max-height: 30vh;
    }

    #box1.small {
        bottom: 70vh;
    }

    #box2.small {
        bottom: 50vh;
    }

    #box3.small {
        bottom: 30vh;
    }

    #box4.small {
        bottom: 10vh;
    }

    .large {
        grid-template-columns: 35% 35% 1fr;
    }

    .text-panel {
        grid-area: text;
        padding: 20px 20px 20px 20px;
    }
}

/* Phone */

@media only screen and (max-width: 599px) {
    .small {
        bottom: 15px;
        transform: translatex(50%);
        max-width: calc(25vw - 10px);
        max-height: calc(25vw - 10px);
    }

    .medium-box {
        max-width: 30vw;
        max-height: 30vw;
    }

    #box1.small {
        right: 87.5vw;
    }

    #box2.small {
        right: 62.5vw;
    }

    #box3.small {
        right: 37.5vw;
    }

    #box4.small {
        right: 12.5vw;
    }