:root {
    --main-colour: #23538a;
    --light-colour: #a7cfdf;
    --main-red: #FC0a12;
    --main-green: #1dc38e;
    --main-text: white;


}

body {
    /* font-size: 1.2rem; */
    font-family: 'Lato', sans-serif;
    max-width: 100vw;
    color: var(--main-text);
    overflow-x: hidden;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-text);
    padding: 0px;
    margin: 0px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

li,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;

}

h2 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}

p,
li {
    line-height: 1.5em;
    text-align: center;
}

.hero {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 70px 50% 25%;
}

header {
    width: 100vw;
    position: fixed;
    height: 40px;
    box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.5), -2px -2px 15px rgba(0, 0, 0, 0.2);
    z-index: 600;
    display: grid;
    grid-template-areas: "author grid";
    color: white;
    justify-items: center;
    align-items: center;
    opacity: 0.7;
}

#box1,
#largebox1 {
    background: #a7cfdf;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a7cfdf 0%, #23538a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a7cfdf 0%, #23538a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a7cfdf 0%, #23538a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7cfdf', endColorstr='#23538a', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#box2,
#largebox2 {
    background: #a6dda8;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a6dda8 0%, #248c35 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a6dda8 0%, #248c35 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a6dda8 0%, #248c35 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6dda8', endColorstr='#248c35', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#box3,
#largebox3 {
    background: #a4acd8;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a4acd8 0%, #7c2796 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a4acd8 0%, #7c2796 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a4acd8 0%, #7c2796 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4acd8', endColorstr='#7c2796', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#box4,
#largebox4 {
    background: #a7dfd9;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #a7dfd9 0%, #23858a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a7dfd9 0%, #23858a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a7dfd9 0%, #23858a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7dfd9', endColorstr='#23858a', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

header,
.medium-box,
.hero,
#form-container,
#footer-box {
    background: var(--light-colour);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, var(--light-colour) 0%, var(--main-colour) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, var(--light-colour) 0%, var(--main-colour) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--light-colour) 0%, var(--main-colour) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--light-colour)', endColorstr='var(--main-colour)', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#form-container {
    padding: 10px;
    border-radius: 7px;
    box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 3px 3px 20px rgba(255, 255, 255, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.form-container-text {
    width: 180px;
}

.form-box {
    opacity: 0.5;
}

.small {
    transition-duration: .2s;
    text-align: center;
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    z-index: 500;
    box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 3px 3px 20px rgba(255, 255, 255, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.pressedButton {
    box-shadow: inset -3px -3px 20px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 0.9);
}

.small h3 {
    font-size: 11px;
    padding: 10px 0px 5px 0px;
}

.small img {
    height: 50%;
    max-width: 90%;
}



.large h3 {
    grid-area: title;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

#largebox1 h3 {
    font-size: 2.5rem;
}

.large img {
    width: 1px;
    visibility: hidden;
}

.large {
    display: grid;
    grid-template-areas: 'image title''text text';
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr 80px;
    position: relative;
    top: 0px;
    left: 250vw;
    width: calc(100vw - 30px);
    min-height: calc(100vh - 70px);
    border-radius: 30px 0% 0% 0% / 30px 0% 0% 0%;
    grid-row: 2 / 5;
    grid-column: 1 / 4;
    transform-origin: 50% 50%;
    box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.5), -2px -2px 15px rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

.large-show {
    left: 30px;
    visibility: visible;
    transition: .6s;
    transition-timing-function: ease-out;
}

.text-panel {
    grid-area: text;
    padding: 20px;
    transition: .8s;
    transition-timing-function: ease-out;
}

.medium-box {
    left: -200px;
    top: 55px;
    display: grid;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    z-index: 500;
    box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 3px 3px 20px rgba(255, 255, 255, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--main-colour);
}

.large,
.medium-show {}


.medium-show {
    left: 15px;
    transition-timing-function: ease-out;
    transition: 0.4s;
}

.medium-box img {
    place-self: center;
    max-height: 90%;
    max-width: 90%;
}

#social-links {
    padding: 20px;
    text-align: center;

}

#social-links a {
    padding: 10px;
    font-size: 1.5rem;
    color: var(--main-text);
}


/* medium and up */

@media only screen and (min-width: 600px) {
    .small {
        transform: translatey(50%);
        right: 15px;
        width: 100px;
        height: 100px;
        max-width: calc(25vh - 25px);
        max-height: calc(25vh - 25px);
    }

    .medium-box {
        width: 150px;
        height: 150px;
        max-width: 30vh;
        max-height: 30vh;
    }

    .medium-show {
        transition: 0.5s;
    }

    #box1.small {
        top: 10vh;
    }

    #box2.small {
        top: 30vh;
    }

    #box3.small {
        top: 50vh;
    }

    #box4.small {
        top: 70vh;
    }

    .small:hover {
        box-shadow: inset -5px -5px 20px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5);
    }

    #box1.small:hover {
        top: calc(10vh-2px);
    }

    #box2.small:hover {
        top: calc(30vh-2px);
    }

    #box3.small:hover {
        top: calc(50vh-2px);
    }

    #box4.small:hover {
        top: calc(70vh-2px);
    }

    /* .text-panel {

        width: calc(100vw - 220px);
    } */

    .large h3 {
        padding: 50px;
    }

    .large {
        grid-template-areas: ' . title . ''. text . ';
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: 150px 1fr;
    }

    #footer-box {
        visibility: hidden;
    }
}

/* Phone */

@media only screen and (max-width: 599px) {
    .small {
        top: calc(100vh - 70px);
        transform: translatex(50%);
        max-width: calc(25vw - 12px);
        max-height: calc(25vw - 12px);
    }

    .medium-box {
        max-width: 30vw;
        max-height: 30vw;
    }

    #box1.small {
        right: 87.5vw;
    }

    #box2.small {
        right: 62.5vw;
    }

    #box3.small {
        right: 37.5vw;
    }

    #box4.small {
        right: 12.5vw;
    }

    #footer-box {
        height: 80px;
        width: 100vw;
        position: fixed;
        bottom: 0px;
        box-shadow: inset -3px -3px 20px rgba(0, 0, 0, 0.5), inset 5px 5px 20px rgba(255, 255, 255, 0.5), 2px 2px 15px rgba(0, 0, 0, 0.2);
        opacity: 0.7;
    }
}

;